.container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    border: 2px solid black;
}

.box {
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    
}

.menu a {
    text-decoration: none;
    justify-content: space-between;

}

.form-log {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.form-log input {
    margin-top: 20px;
  
}

section {
    display: flex;
    justify-content: right;
  
}

.Grid-container {
    display: grid;
    /* grid-template-columns: 200px 200px; */
    /* grid-template-columns: repeat(2, 200px) 200px 150px; */
    grid-template-columns: repeat(2, 1fr);
}

.item {
    border: 2px solid yellow;
}