.container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    border: 2px solid black;
}

.box {
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    
}

.menu a {
    text-decoration: none;
    justify-content: space-between;

}

.form-log {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.form-log input {
    margin-top: 20px;
  
}

section {
    display: flex;
    justify-content: right;
  
}

.Grid-container {
    display: grid;
    /* grid-template-columns: 200px 200px; */
    /* grid-template-columns: repeat(2, 200px) 200px 150px; */
    grid-template-columns: repeat(2, 1fr);
}

.item {
    border: 2px solid yellow;
}

/* Calender */

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.date, .day {
    background-color: skyblue;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.day {
    background-color: cyan;
}

/* Responsive Media */

.container-responsive {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 5px;
}

.food {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
}

.food img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .container-responsive{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* grif-practice */

.container-practice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    

}

.foody {
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 10px;

}

.foody img {
    width: 100%;

}

@media screen and (max-width:576px) {
    .container-practice {
        grid-template-columns: repeat(1, 1fr);

    }
}


.items-new {
    display: grid;
    grid-template-columns: 200px auto 200px;
    gap: 10px;
    margin-top: 10px;
   
}

.items-good {
    border: 2px solid pink;
    padding: 10px;
}

@media screen and (max-width:576px) {
    .items-new { grid-template-columns: repeat(1, 1fr) ;

    }
    .items-good {
        background-color: yellowgreen;
        font-size: 12px;
    }
}

/* medium-device */

@media screen and (min-width:576px) and (max-width:992px) {
    .items-new {
        grid-template-columns: repeat(2, 1fr);

    }
}

/* Responsive Website */

.image-container {
    display: flex;
}

.two-image {
    width: 50%;
}

@media screen and (max-width:576px) {
    .image-container {
        display: flex;
        flex-direction: column;
    }
    .two-image {
        width: 100%;
    }
}